<div *ngIf="loggedInUser">
    <div #contentToCapture *ngIf="showComponent" class="container">
        <div class="main-content-area">
            <div class="left-content">
                <h1 *ngIf="!isEditingTeamNameA" class="title editable-title" (click)="startEditingTeamNameA()">
                    {{currentTeamNameA}}
                </h1>
                <input *ngIf="isEditingTeamNameA" [(ngModel)]="currentTeamNameA" (blur)="stopEditingTeamNameA()"
                    (keyup.enter)="stopEditingTeamNameA()" class="title-input" #teamNameInputA>

                <div class="operation-btns">
                    <div class="operation-btn" [matMenuTriggerFor]="formationSelectMenuA">
                        <i class="fa fa-futbol reset-icon"></i>
                        <p class="operation-btn-off-text">{{selectedFormationA}}</p>
                    </div>

                    <mat-menu #formationSelectMenuA="matMenu" class="small-mat-menu">
                        <div class="formation-buttons">
                            <button *ngFor="let formation of formationLabels" (click)="setFormationA(formation.value)"
                                [class.active]="selectedFormationA === formation.value">
                                {{formation.label}}
                            </button>
                        </div>
                    </mat-menu>

                    <div class="operation-btn" (click)="isDragEnabledTeamA = !isDragEnabledTeamA">
                        <i *ngIf="isDragEnabledTeamA" class="fa fa-unlock active-icon"></i>
                        <i *ngIf="!isDragEnabledTeamA" class="fa fa-lock passive-icon"></i>

                        <!-- Serbest -->
                        <p class="operation-btn-on-text" *ngIf="isDragEnabledTeamA">Hareketli</p>
                        <p class="operation-btn-off-text" *ngIf="!isDragEnabledTeamA">Sabit</p>
                    </div>

                    <button class="wrapper-btn" (click)="isJerseyMode = !isJerseyMode">
                        <div class="operation-btn">
                            <input type="checkbox" [(ngModel)]="isJerseyMode" (click)="$event.stopPropagation()"
                                id="toggle" />

                            <i *ngIf="isJerseyMode"
                                class="fa fa-tshirt active-icon text-15px negative-position-tshirt"></i>
                            <i *ngIf="!isJerseyMode" class="fa fa-circle passive-white-icon"></i>

                            <p class="operation-btn-on-text" style="margin-left: -.5px;" *ngIf="isJerseyMode">Forma</p>
                            <p class="operation-btn-off-text" *ngIf="!isJerseyMode">Klasik</p>
                        </div>
                    </button>

                    <button [disabled]="!isJerseyMode" class="wrapper-btn">
                        <div [ngClass]="{'opacity-7': !isJerseyMode, 'not-allowed': !isJerseyMode }"
                            [matMenuTriggerFor]="isJerseyMode ? jerseySelectMenu : null" class="operation-btn">
                            <input type="checkbox" [(ngModel)]="isJerseyMode" (click)="$event.stopPropagation()"
                                id="toggle" />
                            <div
                                class="player-slot is-jersey-mode position-relative no-hover-transform negative-position-jersey">
                                <div class="player-jersey small-jersey-for-icon no-hover-shadow"
                                    [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateA.border">
                                    <div class="neck"></div>
                                    <div class="sleeve left-sleeve"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                        [style.border]="selectedTeamJerseyTemplateA.sleeveBorder">
                                    </div>
                                    <div class="sleeve right-sleeve"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                        [style.border]="selectedTeamJerseyTemplateA.sleeveBorder">
                                    </div>
                                    <div class="stripes-container">
                                        <div class="stripe stripe-1"
                                            [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                        </div>
                                        <div class="stripe stripe-2"
                                            [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-3"
                                            [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                        </div>
                                        <div class="stripe stripe-4"
                                            [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-5"
                                            [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                        </div>
                                        <div class="stripe stripe-6"
                                            [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-7"
                                            [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                        </div>
                                        <div class="stripe stripe-8"
                                            [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-9"
                                            [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="operation-btn-on-text" style="margin-left: -6px;">Forma</p>
                        </div>
                    </button>

                    <mat-menu #jerseySelectMenu="matMenu" panelClass="dark-dialog-panel">
                        <div class="jersey-kit-wrapper">
                            <div *ngFor="let jerseyTemplate of teamJerseyTemplates"
                                (click)="setTeamJerseyTemplate(jerseyTemplate,'A')"
                                class="player-slot is-jersey-mode position-relative">
                                <div class="player-jersey small-jersey-for-selection"
                                    [ngClass]="{'active-jersey': jerseyTemplate == selectedTeamJerseyTemplateA}"
                                    [style.background-color]="jerseyTemplate.secondaryColor"
                                    [style.border]="jerseyTemplate.border">
                                    <div class="neck"></div>
                                    <div class="sleeve left-sleeve"
                                        [style.background-color]="jerseyTemplate.secondaryColor"
                                        [style.border]="jerseyTemplate.sleeveBorder">
                                    </div>
                                    <div class="sleeve right-sleeve"
                                        [style.background-color]="jerseyTemplate.secondaryColor"
                                        [style.border]="jerseyTemplate.sleeveBorder">
                                    </div>
                                    <div class="stripes-container">
                                        <div class="stripe stripe-1"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-2"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-3"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-4"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-5"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-6"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-7"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-8"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-9"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                    </div>
                                    <!-- <div class="badge"></div> -->
                                    <div class="jersey-number small">10</div>
                                </div>
                            </div>
                        </div>
                    </mat-menu>

                    <button class="wrapper-btn" (click)="setFormationA(selectedFormationA,true)">
                        <div class="operation-btn">
                            <i class="fa fa-eraser passive-icon"></i>
                            <p class="reset-text">Temizle</p>
                        </div>
                    </button>

                    <!-- <button *ngIf="!isMobileView" class="wrapper-btn" (click)="toggleBenchPlayers()">
                        <div class="operation-btn">
                            <i class="fa fa-right-left reset-icon"></i>
                            <p class="reset-text">Yedekleri Göster</p>
                        </div>
                    </button> -->
                </div>
            </div>

            <div class="center-content">

                <h1 class="title editable-title">
                    {{'Taktik Tahtası'}}
                </h1>

                <div #pitchBoundaryForExport class="pitch-horizontal" id="pitchBoundary">

                    <!-- <ng-container *ngIf="authService.user$ | async as user">
                        <img [src]="user.companyUrl ? user.companyUrl : 'https://im.haberturk.com/assets/laravel/images/common/sport/logo/ht-spor-white.svg'"
                            class="company-logo">
                        <span class="user-label">{{user.displayName}}</span>
                    </ng-container> -->

                    <!-- Smart Canva Board -->
                    <mg-canva-board [ngClass]="{'d-block': isDrawModeActive}" class="canva-board">
                    </mg-canva-board>

                    <!-- Soccer Ball -->
                    <div [ngClass]="{'d-block': isBallVisible, 'd-none': !isBallVisible}" cdkDrag
                        class="soccer soccer-ball">
                    </div>

                    <div class="field-lines"></div>
                    <div class="goal-area-left"></div>
                    <div class="goal-area-right"></div>
                    <div class="center-circle"></div>
                    <div class="center-spot"></div>
                    <div class="goal-left"></div>
                    <div class="goal-right"></div>

                    @for (playerA of playersA; track playerA.id) { <div class="player-slot" [ngStyle]="playerA.style"
                        [ngClass]="{'has-player-in-slot': playerA.playerInfo && playerA.playerType == 'defaultPlayer' && !isJerseyMode,
                        'need-transfer-in-slot-a': playerA.playerType != 'defaultPlayer' && !isJerseyMode
                        }" cdkDrag [id]="playerA.id" [attr.data-id]="playerA.id"
                        (click)="onPlayerSearchClick(playerA,'A')" (cdkDragStarted)="onPlayerDragStarted(playerA)"
                        (cdkDragEnded)="onPlayerDragEnded(playerA,$event)" [cdkDragDisabled]="!isDragEnabledTeamA"
                        [class.drag-disabled]="!isDragEnabledTeamA" [class.is-jersey-mode]="isJerseyMode">

                        <!-- Jersey Mode -->
                        <ng-container *ngIf="isJerseyMode; else circleMode">
                            <div class="player-jersey"
                                [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                [style.border]="selectedTeamJerseyTemplateA.border">
                                <div class="neck"></div>
                                <div class="sleeve left-sleeve"
                                    [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateA.sleeveBorder"></div>
                                <div class="sleeve right-sleeve"
                                    [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateA.sleeveBorder"></div>
                                <div class="stripes-container">
                                    <div class="stripe stripe-1"
                                        [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                    </div>
                                    <div class="stripe stripe-2"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-3"
                                        [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                    </div>
                                    <div class="stripe stripe-4"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-5"
                                        [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                    </div>
                                    <div class="stripe stripe-6"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-7"
                                        [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                    </div>
                                    <div class="stripe stripe-8"
                                        [style.background-color]="selectedTeamJerseyTemplateA.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-9"
                                        [style.background-color]="selectedTeamJerseyTemplateA.primaryColor">
                                    </div>
                                </div>
                            </div>
                            <div class="jersey-number">{{playerA.id + 1}}</div>
                            <div *ngIf="playerA.playerInfo && isJerseyMode" class="circle-player-info with-jersey">
                                {{playerA.playerInfo.shortName}}
                            </div>
                        </ng-container>

                        <!-- Circle Mode -->
                        <ng-template #circleMode>
                            <i *ngIf="!playerA.playerInfo && playerA.playerType == 'defaultPlayer' && !isJerseyMode"
                                class="fas fa-plus"></i>
                            <i *ngIf="playerA.playerInfo && playerA.playerType == 'transfer' && !isJerseyMode"
                                class="fas fa-question">
                            </i>
                            <i *ngIf="playerA.playerInfo && playerA.playerType == 'manuelPlayer' && !isJerseyMode"
                                class="fas fa-user">
                            </i>
                            <img *ngIf="playerA.playerInfo && playerA.playerType == 'defaultPlayer' && !isJerseyMode"
                                class="circle-player-img" [src]="playerA.playerInfo?.imgSrc">
                            <div *ngIf="playerA.playerInfo && !isJerseyMode" class="circle-player-info">
                                {{playerA.playerInfo.shortName}}
                            </div>
                        </ng-template>

                    </div>
                    }

                    @for (playerB of playersB; track playerB.id) { <div class="player-slot" *ngIf="isTeamBVisible"
                        [ngStyle]="playerB.style" [ngClass]="{'has-player-in-slot': playerB.playerInfo && playerB.playerType == 'defaultPlayer' && !isJerseyMode,
                        'need-transfer-in-slot-b': playerB.playerType != 'defaultPlayer' && !isJerseyMode,
                        'team-B-player':!isJerseyMode}" cdkDrag [id]="playerB.id" [attr.data-id]="playerB.id"
                        (click)="onPlayerSearchClick(playerB,'B')" (cdkDragStarted)="onPlayerDragStarted(playerB)"
                        (cdkDragEnded)="onPlayerDragEnded(playerB,$event)" [cdkDragDisabled]="!isDragEnabledTeamB"
                        [class.drag-disabled]="!isDragEnabledTeamB" [class.is-jersey-mode]="isJerseyMode">

                        <!-- Jersey Mode -->
                        <ng-container *ngIf="isJerseyMode; else circleMode">
                            <div class="player-jersey"
                                [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                [style.border]="selectedTeamJerseyTemplateB.border">
                                <div class="neck"></div>
                                <div class="sleeve left-sleeve"
                                    [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateB.sleeveBorder"></div>
                                <div class="sleeve right-sleeve"
                                    [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateB.sleeveBorder"></div>
                                <div class="stripes-container">
                                    <div class="stripe stripe-1"
                                        [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                    </div>
                                    <div class="stripe stripe-2"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-3"
                                        [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                    </div>
                                    <div class="stripe stripe-4"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-5"
                                        [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                    </div>
                                    <div class="stripe stripe-6"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-7"
                                        [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                    </div>
                                    <div class="stripe stripe-8"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                    </div>
                                    <div class="stripe stripe-9"
                                        [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                    </div>
                                </div>
                            </div>
                            <div class="jersey-number">{{playerB.id + 1}}</div>
                            <div *ngIf="playerB.playerInfo && isJerseyMode"
                                class="circle-player-info with-jersey team-b">
                                {{playerB.playerInfo.shortName}}
                            </div>
                        </ng-container>

                        <!-- Circle Mode -->
                        <ng-template #circleMode>
                            <i *ngIf="!playerB.playerInfo && playerB.playerType == 'defaultPlayer' && !isJerseyMode"
                                class="fas fa-plus"></i>
                            <i *ngIf="playerB.playerInfo && playerB.playerType == 'transfer' && !isJerseyMode"
                                class="fas fa-question">
                            </i>
                            <i *ngIf="playerB.playerInfo && playerB.playerType == 'manuelPlayer' && !isJerseyMode"
                                class="fas fa-user">
                            </i>
                            <img *ngIf="playerB.playerInfo && playerB.playerType == 'defaultPlayer' && !isJerseyMode"
                                class="circle-player-img" [src]="playerB.playerInfo?.imgSrc">
                            <div *ngIf="playerB.playerInfo && !isJerseyMode" class="circle-player-info team-b">
                                {{playerB.playerInfo.shortName}}
                            </div>
                        </ng-template>

                    </div>
                    }

                </div>
            </div>

            <div [ngClass]="{'opacity-5': !isTeamBVisible}" class="right-content">
                <h1 *ngIf="!isEditingTeamNameB" class="title editable-title" (click)="startEditingTeamNameB()">
                    {{currentTeamNameB}}
                </h1>
                <input *ngIf="isEditingTeamNameB" [(ngModel)]="currentTeamNameB" (blur)="stopEditingTeamNameB()"
                    (keyup.enter)="stopEditingTeamNameB()" class="title-input" #teamNameInputB>

                <div class="operation-btns">

                    <div class="operation-btn" [matMenuTriggerFor]="formationSelectMenuB">
                        <i class="fa fa-futbol reset-icon"></i>
                        <p class="operation-btn-off-text">{{selectedFormationB}}</p>
                    </div>

                    <mat-menu #formationSelectMenuB="matMenu" class="small-mat-menu">
                        <div class="formation-buttons">
                            <button *ngFor="let formation of formationLabels" (click)="setFormationB(formation.value)"
                                [class.active]="selectedFormationB === formation.value">
                                {{formation.label}}
                            </button>
                        </div>
                    </mat-menu>

                    <div class="operation-btn" (click)="isDragEnabledTeamB = !isDragEnabledTeamB">
                        <i *ngIf="isDragEnabledTeamB" class="fa fa-unlock active-icon"></i>
                        <i *ngIf="!isDragEnabledTeamB" class="fa fa-lock passive-icon"></i>

                        <!-- Serbest -->
                        <p class="operation-btn-on-text" *ngIf="isDragEnabledTeamB">Hareketli</p>
                        <p class="operation-btn-off-text" *ngIf="!isDragEnabledTeamB">Sabit</p>
                    </div>

                    <button class="wrapper-btn" (click)="isJerseyMode = !isJerseyMode">
                        <div class="operation-btn">
                            <input type="checkbox" [(ngModel)]="isJerseyMode" (click)="$event.stopPropagation()"
                                id="toggle" />

                            <i *ngIf="isJerseyMode"
                                class="fa fa-tshirt active-icon text-15px negative-position-tshirt"></i>
                            <i *ngIf="!isJerseyMode" class="fa fa-circle passive-white-icon"></i>

                            <p class="operation-btn-on-text" style="margin-left: -.5px;" *ngIf="isJerseyMode">Forma</p>
                            <p class="operation-btn-off-text" *ngIf="!isJerseyMode">Klasik</p>
                        </div>
                    </button>

                    <button [disabled]="!isJerseyMode" class="wrapper-btn">
                        <div [ngClass]="{'opacity-7': !isJerseyMode, 'not-allowed': !isJerseyMode }"
                            [matMenuTriggerFor]="isJerseyMode ? jerseySelectMenu : null" class="operation-btn">
                            <input type="checkbox" [(ngModel)]="isJerseyMode" (click)="$event.stopPropagation()"
                                id="toggle" />

                            <!-- <i class="fa fa-fill-drip reset-icon"></i> -->
                            <div
                                class="player-slot is-jersey-mode position-relative no-hover-transform negative-position-jersey">
                                <div class="player-jersey small-jersey-for-icon no-hover-shadow"
                                    [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                    [style.border]="selectedTeamJerseyTemplateB.border">
                                    <div class="neck"></div>
                                    <div class="sleeve left-sleeve"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                        [style.border]="selectedTeamJerseyTemplateB.sleeveBorder">
                                    </div>
                                    <div class="sleeve right-sleeve"
                                        [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor"
                                        [style.border]="selectedTeamJerseyTemplateB.sleeveBorder">
                                    </div>
                                    <div class="stripes-container">
                                        <div class="stripe stripe-1"
                                            [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                        </div>
                                        <div class="stripe stripe-2"
                                            [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-3"
                                            [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                        </div>
                                        <div class="stripe stripe-4"
                                            [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-5"
                                            [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                        </div>
                                        <div class="stripe stripe-6"
                                            [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-7"
                                            [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                        </div>
                                        <div class="stripe stripe-8"
                                            [style.background-color]="selectedTeamJerseyTemplateB.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-9"
                                            [style.background-color]="selectedTeamJerseyTemplateB.primaryColor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="operation-btn-on-text" style="margin-left: -6px;">Forma</p>
                        </div>
                    </button>

                    <mat-menu #jerseySelectMenu="matMenu" panelClass="dark-dialog-panel">
                        <div class="jersey-kit-wrapper">
                            <div *ngFor="let jerseyTemplate of teamJerseyTemplates"
                                (click)="setTeamJerseyTemplate(jerseyTemplate,'B')"
                                class="player-slot is-jersey-mode position-relative">
                                <div class="player-jersey small-jersey-for-selection"
                                    [ngClass]="{'active-jersey': jerseyTemplate == selectedTeamJerseyTemplateB}"
                                    [style.background-color]="jerseyTemplate.secondaryColor"
                                    [style.border]="jerseyTemplate.border">
                                    <div class="neck"></div>
                                    <div class="sleeve left-sleeve"
                                        [style.background-color]="jerseyTemplate.secondaryColor"
                                        [style.border]="jerseyTemplate.sleeveBorder">
                                    </div>
                                    <div class="sleeve right-sleeve"
                                        [style.background-color]="jerseyTemplate.secondaryColor"
                                        [style.border]="jerseyTemplate.sleeveBorder">
                                    </div>
                                    <div class="stripes-container">
                                        <div class="stripe stripe-1"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-2"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-3"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-4"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-5"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-6"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-7"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                        <div class="stripe stripe-8"
                                            [style.background-color]="jerseyTemplate.secondaryColor">
                                        </div>
                                        <div class="stripe stripe-9"
                                            [style.background-color]="jerseyTemplate.primaryColor">
                                        </div>
                                    </div>
                                    <!-- <div class="badge"></div> -->
                                    <div class="jersey-number small">10</div>
                                </div>
                            </div>
                        </div>
                    </mat-menu>

                    <button class="wrapper-btn" (click)="setFormationB(selectedFormationB,true)">
                        <div class="operation-btn">
                            <i class="fa fa-eraser passive-icon"></i>
                            <p class="reset-text">Temizle</p>
                        </div>
                    </button>

                    <!-- <button *ngIf="!isMobileView" class="wrapper-btn" (click)="toggleBenchPlayers()">
                        <div class="operation-btn">
                            <i class="fa fa-right-left reset-icon"></i>
                            <p class="reset-text">Yedekleri Göster</p>
                        </div>
                    </button> -->
                </div>
            </div>

            <div class="bottom-content">

                <button *ngIf="!isMobileView" class="wrapper-btn m-r-8" (click)="toggleTeamBVisibility()">
                    <div class="operation-btn w-120">
                        <i class="fa fa-circle"
                            [ngClass]="{'active-icon': isTeamBVisible, 'passive-icon': !isTeamBVisible}"></i>
                        <p class="reset-text">Rakip Göster</p>
                    </div>
                </button>

                <div class="operation-btn w-max-c m-r-8" (click)="showBallInField()">
                    <i class="fa fa-futbol reset-icon m-r-11"></i>
                </div>

                <button class="wrapper-btn m-r-8" (click)="toggleDrawMode()">
                    <div class="operation-btn w-120">
                        <i class="fa fa-circle"
                            [ngClass]="{'active-icon': isDrawModeActive, 'passive-icon': !isDrawModeActive}"></i>
                        <p class="reset-text">Çizim Modu</p>
                    </div>
                </button>

                <div class="operation-btn m-r-8" [ngClass]="{'opacity-5': !isDrawModeActive}"
                    [matMenuTriggerFor]="shapeSelectionForCanva">
                    <i *ngIf="selectedShape == 'Ok'" class="fa fa-long-arrow-alt-right reset-icon"></i>
                    <i *ngIf="selectedShape == 'Yuvarlak'" class="fa fa-circle reset-icon"></i>
                    <i *ngIf="selectedShape == 'Dikdörtgen'" class="fa fa-square reset-icon"></i>
                    <!-- <i class="fa fa-shapes reset-icon"></i> -->
                    <p class="operation-btn-off-text">{{selectedShape}}</p>
                </div>

                <mat-menu #shapeSelectionForCanva="matMenu" class="small-mat-menu">
                    <div class="formation-buttons" style="width: 122px; margin: 4px 12px; gap: 8px;">
                        <button class="wrapper-btn" (click)="selectShapeForDraw('arrow')">
                            <div class="operation-btn w-120">
                                <i class="fa fa-long-arrow-alt-right reset-icon"></i>
                                <p class="reset-text">Ok</p>
                            </div>
                        </button>
                        <button class="wrapper-btn" (click)="selectShapeForDraw('rectangle')">
                            <div class="operation-btn w-120">
                                <i class="fa fa-square reset-icon"></i>
                                <p class="reset-text">Dikdörtgen</p>
                            </div>
                        </button>
                        <button class="wrapper-btn" (click)="selectShapeForDraw('circle')">
                            <div class="operation-btn w-120">
                                <i class="fa fa-circle reset-icon"></i>
                                <p class="reset-text">Yuvarlak</p>
                            </div>
                        </button>
                    </div>
                </mat-menu>

                <div class="operation-btn w-max-c m-r-8" [ngClass]="{'opacity-5': !isDrawModeActive}"
                    (click)="undoDrawClick()">
                    <i class="fa fa-undo reset-icon m-r-11"></i>
                </div>

                <div class="operation-btn w-max-c m-r-8" [ngClass]="{'opacity-5': !isDrawModeActive}"
                    (click)="deleteShapeClick()">
                    <i class="fa fa-trash passive-icon m-r-11"></i>
                </div>

                <div class="operation-btn w-max-c m-r-8" [ngClass]="{'opacity-5': !isDrawModeActive}"
                    (click)="selectShapeForDraw('no-canva')">
                    <i class="fa fa-times reset-icon m-r-11"></i>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="!showComponent && !isLoading" style="height: 742px; width: 100%;"></div>

    <div *ngIf="isLoading" class="loader-container">
        <div class="football-loader">
            <div class="ball-piece piece-1"></div>
            <div class="ball-piece piece-2"></div>
            <div class="ball-piece piece-3"></div>
            <div class="ball-piece piece-4"></div>
            <div class="ball-piece piece-5"></div>
            <div class="ball-piece piece-6"></div>
            <div class="ball-piece piece-7"></div>
            <div class="ball-piece piece-8"></div>
            <div class="ball-piece piece-9"></div>
            <div class="ball-piece piece-10"></div>
        </div>
    </div>
</div>

<!-- <div *ngIf="loggedInUser && !loggedInUser.roles.includes('tactical-board')">
    <div class="container">
        Yetkiniz Yoktur
    </div>
</div> -->